@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.button-bigger-font {
  font-size: 20px;
  line-height: 36px;
}

.button-basic {
  background-color: #756157;
}

.button-second {
  background-color: #82B3D3;
}

.button-selected {
  background-color: #7DB54F;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
}

.img {
  max-width: 100%;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
}

.welcome-wrap {
  width: 1200px;
  background-color: #82B3D3;
}

.welcome-wrap::after {
  content: "";
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 57px;
  margin-top: -56px;
  position: relative;
}

.welcome {
  display: block;
}

.container-titles {
  width: 1200px;
  height: 282px;
  text-align: center;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title {
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
}

.advantages-list {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

.advantages-extra-list {
  list-style-type: none;
}

.container-advantage-wrap {
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-extra-item:nth-child(2n-1) {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-extra-item:nth-child(2n) {
  width: 400px;
  height: 384px;
  background-color: #FFFFFF;
  color: #333333;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item:nth-child(4) {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-item:nth-child(3) p {
  color: #333333;
}

.advantages-item:nth-child(4) p {
  color: #333333;
}

.advantages-item:nth-child(5) p {
  color: #333333;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.find-hotel {
  width: 1200px;
  height: 417px;
  text-align: center;
}

.newsletter {
  width: 1200px;
  height: 411px;
  text-align: center;
}

.newsletter-bg {
  background-color: #82B3D3;
  color: #FFFFFF;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-footer {
  width: 1200px;
  height: 120px;
}

.footer-social {
  list-style-type: none;
}

.footer-contacts {
  text-align: center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.container-catalog-filter {
  width: 1200px;
  height: 404px;
  background-image: url("../images/background-filter.jpg");
  background-size: cover;
  background-color: #82B3D3;
  color: #FFFFFF;
  background-repeat: no-repeat;
}

.catalog-hotels-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.catalog-filter-title {
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs {
  list-style-type: none;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
}

.catalog-hotels-results {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.select-control-label {
  font-size: 18px;
  line-height: 21px;
}

.hotel-list {
  list-style-type: none;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.hotel-type {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  list-style-type: none;
}

