@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
}

.button-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  /*color: #FFFFFF; цвет шрифта в кнопках; раскомментировать, когда добавится цвет кнопок*/
}

.divider {
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.svg");
  /* цвет фона убрать, когда наложим разделитель на изображение welcome*/
  background-color: #82B3D3;
  background-repeat: no-repeat;
}
